/**
 *  Where's My Money? – Main CSS File
 * ===================================
 *  Created 2017-05-30
 */

html {
    background-color: #e0e0e0;
}

body {
    padding: 40px;
    font-size: 14px;
}

h1 {font-size: 2.00em; margin: 0em 0em 0.4em 0em;}
h2 {font-size: 1.50em; margin: 0em 0em 0.4em 0em;}
h3 {font-size: 1.20em; margin: 0em 0em 0.4em 0em;}
h4 {font-size: 1.10em; margin: 0em 0em 0.4em 0em; color: #009900;}
h5 {font-size: 1.00em; margin: 0em 0em 0.4em 0em;}
h6 {font-size: 1.00em; margin: 0em 0em 0.4em 0em;}

a       {color: #009900; text-decoration: none;}
a:hover {color: #009900; text-decoration: underline;}

/**
 *  Wrappers
 */

#left-side {
    display: inline-block;
    width: 270px;
    vertical-align: top;
    margin-right: 20px;
    /*border: 1px solid #000000;*/
}

#site-content {
    display: inline-block;
    padding: 40px;
    width: 900px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #a0a0a0;
    -moz-box-shadow: 5px 5px 5px #a0a0a0;
    -webkit-box-shadow: 5px 5px 5px #a0a0a0;
    border: 1px solid #d0d0d0;
    vertical-align: top;
}

/**
 *  Logo
 */

#site-logo {
    display: block;
    position: relative;
    width: 300px;
    height: 100px;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 400;
    color: #606060;
    text-shadow: 5px 5px 5px #a0a0a0;
    -moz-text-shadow: 5px 5px 5px #a0a0a0;
    -webkit-text-shadow: 5px 5px 5px #a0a0a0;
    margin: 20px 0 40px 0;
}

#logo-wheres {
    position: absolute;
    font-size: 48px;
    top: 0px;
    left: 0px;
}

#logo-my {
    position: absolute;
    font-size: 24px;
    top: 52px;
    left: 60px;
}

#logo-money {
    position: absolute;
    font-size: 48px;
    top: 40px;
    left: 100px;
}

/**
 *  Site Menu
 */

#left-menu {
    margin: 60px 0;
}

#left-menu ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#left-menu ul li {
    display: inline-block;
    background-color: #f7f7f7;
    height: 32px;
    padding: 0;
    box-shadow: 5px 5px 5px #a0a0a0;
    -moz-box-shadow: 5px 5px 5px #a0a0a0;
    -webkit-box-shadow: 5px 5px 5px #a0a0a0;
    border: 1px solid #707070;
    margin-bottom: 2px;
}

#left-menu ul li:hover {
    background-color: #f0f0f0;
}

#left-menu ul li .menu-icon {
    display: inline-block;
    background-color: #707070;
    width: 32px;
    height: 32px;
    vertical-align: top;
}

#left-menu ul li .menu-icon img {
    width: 24px;
    height: 24px;
    margin: 4px 0 0 4px;
}

#left-menu ul li .triangle {
    display: inline-block;
    color: #707070;
    margin: 2px 6px 0 0;
    font-size: 24px;
    vertical-align: top;
}

#left-menu ul li a {
    display: inline-block;
    margin: 5px 8px 0 12px;
    font-size: 20px;
    /*border: 1px solid #000000;*/
    vertical-align: top;
    color: #00aa00;
    text-decoration: none;
}

#left-menu ul li a:hover {
    color: #009900;
    text-decoration: none;
}

/**
 *  Header
 */

#header {
    border-bottom: 1px solid #000000;
}

#header h1 {
    margin: 0;
}

#main-menu {
    /*background-color: #f0f0f0;*/
    margin-bottom: 12px;
}

#main-menu ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    display: inline-block;
    padding: 4px 8px;
}

#main-menu ul li:hover {
    background-color: #e0f0e0;
}

/**
 * General
 */

.option-line {

}

/**
 *  Tables
 */

/* Display Table */

.display-table {
    margin-bottom: 1em;
    font-size: 1.1em;
}

.display-table th,
.display-table td {
    padding: 2px 4px;
    white-space: nowrap;
}

.display-table th {
    background-color: #d7e7d7;
    font-weight: bold;
    text-align: right;
}

/* List Table */

.list-table {
    margin-bottom: 1em;
}

.list-table td {
    padding: 2px 4px;
    white-space: nowrap;
}

.list-table td img {
    height: 1em;
    width: auto;
}

.list-section td {
    padding: 12px 4px 2px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.list-section:first-child td {
    padding: 0 4px 2px 0;
}

.list-head td {
    font-weight: bold;
    border-bottom: 2px solid #009900;
}

.list-head .tbl-clear,
.list-table .tbl-clear {
    width: 1.5em;
    background-color: #ffffff;
    border: 0;
}

.list-stats td {
    /*text-align: right;*/
    font-size: 0.8em;
    color: #777777;
    padding: 12px 0 0 0;
}

/* Forms Table */

.form-table {
    margin-bottom: 1em;
}

.form-table th,
.form-table td {
    padding: 2px 4px;
    white-space: nowrap;
    vertical-align: top;
}

.form-table th {
    background-color: #d7e7d7;
    font-weight: bold;
    text-align: right;
}

.input-s {width: 120px;}
.input-m {width: 240px;}
.input-w {width: 360px;}

.text-w {
    width: 360px;
    height: 4em;
    resize: none;
}

.text-raw {
    width: 640px;
    height: 40em;
    resize: none;
}

.input-button {
    padding: 0;
    text-align: right;
}

.margin-b {
    margin-bottom: 4px;
}

/**
 *  Two Column Wrappers
 */

.content-wrapper {
    display: table;
    width: 100%;
}

.content-main {
    display: table-cell;
    vertical-align: top;
}

.content-aside {
    display: table-cell;;
    vertical-align: top;
    text-align: right;
    padding-left: 20px;
}

.toolbox {
    display: inline-block;
    border: 1px solid #009900;
    padding: 8px;
    text-align: left;
    background-color: #f7f7f7;
}

/**
 *  Formatting and Textflow
 */

.mono   {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.95em;
}

.expand {
    text-overflow: ellipsis;
    width: 100%;
}

.no-resize {resize: none;}

.left   {text-align: left;}
.right  {text-align: right;}
.center {text-align: center;}
.floatr {display: inline-block; float: right;}

.black  {color: #000000;}
.green  {color: #008800;}
.red    {color: #880000;}
.orange {color: #aa6600;}

.even   {background-color: #f7f7f7;}
.odd    {background-color: #e7e7e7;}
.g-even {background-color: #e7f7e7;}
.g-odd  {background-color: #d7e7d7;}

/**
 *  Print Styles
 */

@page {
    size: 210mm 297mm;
    margin: 12mm 9mm;
}

@media print {

    html,
    body {
        padding: 0;
        margin: 0;
        background: none;
    }

    #left-side {
        display: none;
    }

    #site-content {
        display: block;
        padding: 0;
        margin: 0;
        box-shadow: 0;
        -moz-box-shadow: 0;
        -webkit-box-shadow: 0;
        border: 0;
    }
}

/**
 *  Mobile Styles
 */

@media screen and (max-width: 500px) {

}
